body {
  font-family: "poppins";
  margin-left: 80px;
  margin-right: 80px;
  background-color: #e61123;
}

.headerindex {
  margin-top: 0px;
}

.logo {
  height: 200px;
  width: 700px;
  object-fit: contain;
  display: flex;
  margin: 0 auto;
}

.menu {
  display: flex;
  align-items: center;
  flex: 1;
}

.menu ul {
  display: flex;
  font-size: 20px;
  flex: 1;
  justify-content: space-around;
  margin: 30px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin: 20px;
  font-family: "pacifico";
}

.menu a:hover {
  color: black;
}

p {
  line-height: 25px;
}

.premierbloc {
  position: relative;
}

.imgprincipal {
  border-radius: 30px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border: white 2px solid;
}

.titres {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  width: 50%;
}

.premiertitre {
  font-size: 35px;
  color: white;
  line-height: 80px;
}

.deuxiemetitre {
  font-size: 20px;
  color: white;
  line-height: 80px;
  font-style: italic;
}

h2 {
  font-size: 50px;
  color: white;
  line-height: 50px;
  padding: 30px;
  text-align: center;
  font-family: "pacifico";
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  font-size: 20px;
  padding: 20px;
  color: white;
  border-radius: 10px;
  margin: 30px auto;
  text-align: center;
  line-height: 40px;
}

.divdeuxbloc {
  display: flex;
  justify-content: space-around;
}

.divdeuxbloc img {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
  border: white 1px solid;
}

.divdeuxdeux {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}

.texte1 {
  margin: 30px;
  text-align: center;
  align-items: center;
  line-height: 30px;
  font-size: 20px;
}

.liste {
  display: flex;
  align-items: center;
  margin: 30px;
}

.imgliste {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 30px;
}

.troisiemebloc {
  display: flex;
  align-items: center;
}

.imgemetteur,
.imgrecepteur {
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.presentationdiv1 {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.imgportrait {
  width: 200px;
  height: auto;
  border: white 2px solid;
  border-radius: 50%;
}

.presentationtext1 {
  text-align: center;
  margin: 30px;
  line-height: 30px;
  font-size: 20px;
  align-items: center;
}

.presentationtext2 {
  margin: 30px;
  line-height: 30px;
  font-size: 20px;
  align-items: center;
}

.lienrejoins {
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: max-content;
}

.boutonsoutenir {
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: max-content;
}

.contactmain,
.presentationmain,
.soutenirmain {
  border: white 3px solid;
  border-radius: 20px;
}
.textecontact {
  text-align: center;
}

form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 90px;
  align-items: center;
  margin-top: 35px;
}

form div > label {
  margin-bottom: 10px;
}

form div > input,
form div > textarea {
  background-color: rgb(255, 240, 240);
  width: 50%;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #202020;
  padding: 5px;
}

button {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 20px;
}

footer {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-radius: 10px;
}

.piedmenu a {
  text-decoration: none;
  color: white;
  margin-right: 30px;
}

.piedmenu a:hover {
  color: lightgray;
}
