body {
  font-family: "roboto flex";
  margin-left: 80px;
  margin-right: 80px;
}

.headerindex {
  margin-top: 30px;
  display: flex;
}

.logo {
  height: 200px;
}

.menu {
  display: flex;
  align-items: center;
  flex: 1;
}

.menu ul {
  display: flex;
  font-size: 20px;
  flex: 1;
  justify-content: space-around;
}

.menu a {
  text-decoration: none;
  color: #3d3d3d;
}

.menu a:hover {
  color: black;
}

p {
  line-height: 25px;
}

.premierbloc {
  position: relative;
}

.imgprincipal {
  border-radius: 30px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.titres {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  width: 50%;
}

.premiertitre {
  font-size: 30px;
  font-weight: bold;
  color: white;
  line-height: 100px;
}

.deuxiemetitre {
  font-size: 20px;
  color: white;
  line-height: 100px;
  font-style: italic;
}

.deuxiemebloc {
  margin-top: 30px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: #3d3d3d;
  line-height: 50px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  background-color: #3d3d3d;
  color: white;
  border-radius: 10px;
  margin: 30px auto;
  text-align: center;
}

.divdeuxbloc {
  display: flex;
  justify-content: space-around;
}

.divdeuxbloc img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
}

.texte1 {
  margin: 30px;
  text-align: center;
  align-items: center;
  line-height: 30px;
  font-size: 20px;
}

.troisiemebloc {
  display: flex;
}

.imgemetteur,
.imgrecepteur {
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

footer {
  background-color: #3d3d3d;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.piedmenu a {
  text-decoration: none;
  color: white;
  margin-right: 30px;
}

.piedmenu a:hover {
  color: lightgray;
}

form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 90px;
  align-items: center;
  margin-top: 35px;
}

form div > label {
  margin-bottom: 10px;
}

form div > input,
form div > textarea {
  background-color: rgb(179, 179, 179);
  width: 50%;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #202020;
  padding: 5px;
}
