body {
  font-family: "poppins";
  width: 80%;
  margin: 0 auto;
  background-color: #e61123;
}

.logo {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

header {
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin: 0 20px;
  font-family: "pacifico";
}

.menu a:hover {
  color: black;
}

p {
  font-size: 1.2rem;
  line-height: 20px;
}

b {
  font-weight: bold;
}

.premierbloc {
  position: relative;
}

.imgprincipal {
  border-radius: 30px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border: white 2px solid;
}

.titres {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  width: 60%;
}

.premiertitre {
  font-size: 2.5rem;
  color: white;
  line-height: max(6vh, 60px);
}

.deuxiemetitre {
  font-size: 1.4rem;
  color: white;
  line-height: max(6vh, 60px);
  font-style: italic;
}

h2 {
  font-size: 2.5rem;
  color: white;
  line-height: 50px;
  padding: 30px;
  text-align: center;
  font-family: "pacifico";
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  font-size: 1.4rem;
  padding: 20px;
  color: white;
  margin: 30px auto;
  text-align: center;
  line-height: 40px;
}

.divdeuxbloc {
  display: flex;
  justify-content: space-around;
}

.imgillustration {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
  border: white 2px solid;
}

.divdeuxdeux {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

.texte1 {
  margin: 30px;
  text-align: center;
  align-items: center;
  line-height: 30px;
  font-size: 20px;
}

.textfonctionnement {
  margin: 40px;
}

.liste {
  display: flex;
  align-items: center;
  margin: 30px;
  width: 80%;
  margin-left: 10%;
}

.imgliste {
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 30px;
  border: white 2px solid;
}

.troisiemebloc {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 30% 1fr;
  padding: 20px;
}

.imgbloctrois {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: fit-content;
}

h3 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.imgemetteur,
.imgrecepteur {
  width: 300px;
  border-radius: 30px;
  border: white 2px solid;
}

.presentationdiv1 {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.imgportrait {
  width: 200px;
  height: auto;
  border: white 2px solid;
  border-radius: 50%;
}

.presentationtext1 {
  text-align: center;
  margin: 30px;
  line-height: 30px;
  font-size: 20px;
  align-items: center;
}

.presentationtext2 {
  margin: 30px;
  line-height: 30px;
  font-size: 20px;
  align-items: center;
}

.lienrejoins {
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: max-content;
}

.boutonsoutenir {
  border-radius: 20px;
  background-color: white;
  color: black;
  padding: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  width: max-content;
  font-weight: bold;
}

.contactmain,
.presentationmain,
.soutenirmain {
  border: white 3px solid;
  border-radius: 20px;
}
.textecontact {
  text-align: center;
}

form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 90px;
  align-items: center;
  margin-top: 35px;
}

form div > label {
  margin-bottom: 10px;
}

form div > input,
form div > textarea {
  background-color: rgb(255, 240, 240);
  width: 50%;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #202020;
  padding: 5px;
}

footer {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 50px;
  border-radius: 10px;
  margin-top: 100px;
}

.piedmenu a {
  text-decoration: none;
  color: white;
  margin-right: 30px;
}

.piedmenu a:hover {
  color: lightgray;
}

button {
  background-color: #000000;
  color: white;
  border-radius: 10px;
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 20px;
}

/* Optimisation pour les écrans de moins de 430px */
@media (max-width: 767px) {
  body {
    width: 100%;
    padding: 0;
  }

  .logo {
    width: 90%;
    padding: 0;
  }

  .menu ul {
    width: 100%;
    margin: 0;
  }

  .menu a {
    display: flex;
    font-size: 16px;
    justify-content: space-around;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
  }

  .premiertitre,
  .deuxiemetitre {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
  }

  .imgprincipal {
    width: 95%;
    margin: 0 auto;
    align-items: center;
    display: flex;
  }

  h2 {
    font-size: 25px;
    line-height: 30px;
    padding: 40px;
    margin: 0;
  }

  h1,
  .texte1 {
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    margin: 0px;
    text-align: left;
  }

  .divdeuxdeux {
    width: 100%;
  }

  .imgillustration {
    width: 30%;
    height: 70%;
    margin-right: 10px;
    position: sticky;
    top: 0;
    left: 0;
    margin: 1em 0;
  }

  .textfonctionnement {
    text-align: center;
    margin: 0;
    padding: 10px;
  }

  .liste {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .liste p {
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .imgliste {
    margin: 10px;
    width: 25%;
  }

  .troisiemebloc {
    grid-template-columns: 150px auto;
    padding: 10px;
  }

  .imgbloctrois {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: max-content;
  }

  .titreproduit {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  h3 {
    font-size: 24px;
    margin: 10 auto;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-left: 10px;
  }

  .texteproduit {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .texteproduit p {
    font-size: 16px;
    padding-top: 60px;
    padding-bottom: 20px;
    line-height: 20px;
  }

  .imgemetteur,
  .imgrecepteur {
    width: 150px;
  }

  .imgportrait {
    width: 100%;
    margin-bottom: 20px;
  }

  .boutonsoutenir {
    width: 40%;
    text-align: center;
    line-height: 20px;
    margin: 0 auto;
    margin-top: 20px;
  }

  footer {
    width: 100%;
    padding: 0;
    line-height: 20px;
  }

  footer p {
    margin: 10px;
    font-size: 1rem;
  }

  .piedmenu {
    margin: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 95%;
    padding: 0;
    border: white 2px solid;
  }

  p {
    line-height: 25px;
    padding-top: 0;
    margin-top: 0;
  }

  .premiertitre,
  .deuxiemetitre {
    font-size: 1.5rem;
  }

  .menu a {
    font-size: 1.8rem;
  }

  .troisiemebloc {
    grid-template-columns: 300px 1fr;
    margin: 0 auto;
    padding: 30px;
    grid-template-rows: 10% 1fr;
  }

  h3 {
    padding: 0;
    margin: 0;
  }

  .titreproduit {
    font-size: 2rem;
    padding-left: 20px;
    padding-bottom: 0;
    height: fit-content;
    margin: 0;
  }

  .texteproduit {
    padding: 20px;
    width: 100%;
    padding-bottom: 0;
  }

  .imgemetteur,
  .imgrecepteur {
    width: 300px;
  }
}
